.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.animals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;

}

.message {
  color:  #61dafb;

}




